/* AlimentosDetails.css */

/* Estilos generales */
.card-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  overflow-x: hidden;
  
}

.product-image-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  color: #f44336;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 16px;
  line-height: 1.5;
}

.btn-container {
  display: flex;
 justify-content: space-between;
  align-items: center;
  
}

.product-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
 
  margin-bottom: 60px;
}

.product-btn:hover {
  background-color: #45a049;
}

/* Estilos para pantallas medianas (entre 620px y 960px) */
@media (min-width: 620px) and (max-width: 960px) {
  .card-details {
    
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    
  }
}

/* Estilos para pantallas pequeñas (menos de 620px) */
@media (max-width: 619px) {
  .card-details {
    
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    
  }
}

/* Estilos para pantallas extra pequeñas (menos de 420px) */
@media (max-width: 419px) {
  .card-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    
 
  }

/* Estilos para pantallas muy pequeñas (menos de 360px) */
@media (max-width: 360px) {
  .card-details {
    flex-direction: column;
    align-items: center;
   
   
    
  }

 

  .product-details h2 {
    font-size: 20px; /* Ajustar el tamaño de fuente para títulos en pantallas muy pequeñas */
  }

  .price {
    font-size: 16px; /* Ajustar el tamaño de fuente para precios en pantallas muy pequeñas */
  }

  .product-btn {
    padding: 5px 10px; /* Reducir el relleno del botón en pantallas muy pequeñas */
    font-size: 14px; /* Ajustar el tamaño de fuente del botón en pantallas muy pequeñas */
    margin-bottom: 10px; /* Espaciado inferior reducido en pantallas muy pequeñas */
  }
  
  .btn-container {
    width: 100%;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center;
    gap: 5px; /* Agregar espacio entre los botones apilados */
  }
}

}
