/* CartPage.css */

.cart-container {
  margin: 30px auto;
  max-width: 950px;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.empty-cart {
  font-size: 18px;
}

.cart-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.text-cart {
  flex: 1;
}

.quantity-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
  
}

.quantity-button:hover {
  background-color: #45a049;
}

.remove-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.remove-button:hover {
  background-color: #d32f2f;
  
}

.cart-total {
  font-size: 18px;
  margin-top: 10px;
}

.shipping-incentive {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.links-div {
  margin-top: 20px;
  
}

.continue-shopping {
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  
}

.continue-shopping:hover {
  background-color: #45a049;
}

