/* Slideshow.css */

/* Estilo para el carrusel en sí */
.carousel {
  background-color: #f8f8f8; /* Cambia el color de fondo según tu preferencia */
}

/* Estilo para las imágenes en el carrusel */
.carousel-item img {
  width: 100%; /* Asegura que las imágenes se ajusten al ancho del carrusel */
  max-height: 610px; /* Establece una altura máxima para evitar que las imágenes se desborden en pantallas pequeñas */
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir todo el área del carrusel */
}

/* Estilo para los captions de las diapositivas */
.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los captions */
  padding: 10px; /* Espaciado interno para los captions */
  color: #fff; /* Color del texto de los captions */
}

/* Estilo para el título principal */
.main-title {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  padding: 40px;
}

/* Estilo para el texto siguiente */
.subtext {
  font-size: 24px;
  color: #666;
  line-height: 2;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
  font-size: larger;
}
