/* En tu archivo de estilos (por ejemplo, App.css) */
.slideshow-container {
  position: relative;
  height: 300px; /* Ajusta la altura según sea necesario */
}

.content {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente para el texto */
  /* Añade estilos adicionales según tus preferencias */
 
}

/* En tu archivo de estilos (por ejemplo, App.css) */
.search-input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-right: 5px;
  width: 150px; /* Ajusta el ancho según sea necesario */
}

.search-icon {
  cursor: pointer;
}

.cart-icon {
  display: flex;
  align-items: center;
}
/* Agrega esto a tu hoja de estilos CSS */
@keyframes addItemAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.cart-icon {
  position: relative;
}

.add-item-animation {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
  animation: addItemAnimation 0.3s ease-in-out;
}
